<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MyMapper">
    <select id="getNextLink" resultType="String">
        select link from LINKS_TO_BE_PROCESSED limit 1
    </select>
    <delete id="deleteLink" parameterType="String">
        delete from LINKS_TO_BE_PROCESSED where link = #{link}
    </delete>
    <insert id="insertNews" parameterType="con.github.hcsp.News">
        insert into NEWS(url , title, content, created_at, modified_at) values ( #{url},#{title},#{content},now(),now()
        )")
    </insert>
    <select id="countLink" parameterType="String" resultType="int">
        select count(link) from LINKS_ALREADY_PROCESSED where link = #{link}
    </select>
    <insert id="insertLink" parameterType="String">
        insert into LINKS_ALREADY_PROCESSED (link)values(#{link})
    </insert>
</mapper>